data/CTS12-35.pdf filter=lfs diff=lfs merge=lfs -text
data/TrajectporyDataDescription.pdf filter=lfs diff=lfs merge=lfs -text
data/trajectories-0400pm-0415pm_editted.csv filter=lfs diff=lfs merge=lfs -text
